import pandas as pd

In [20]:
import pandas as pd

In [24]:
dfexcel = pd.read_excel("teilnehmerdaten.xlsx", sheet_name=None)

In [22]:
print(type(dfexcel))

<class 'dict'>

In [23]:
print(dfexcel["teilnehmerdaten"])

       Name  Vorname  Kundennummer Vertrag von        bis Maßnahmenummer  \
0    Parker    Peter          1001  2023-06-19 2025-06-18   955/215/2023
1   Ayuhara     Mila          1002  2023-06-19 2025-06-18   955/215/2023
2   Simpson    Homer          1003  2023-06-19 2025-06-18   955/210/2023
3     Stark     Tony          1004  2023-06-21 2025-06-18   955/210/2023
4     Cohle     Rust          1005  2023-06-19 2025-06-18   955/210/2023
5  Corleone     Vito          1006  2023-06-03 2025-06-18   955/210/2023
6    Connor    Sarah          1007  2023-06-19 2025-06-18   955/210/2023
7   Ketchum      Ash          1008  2023-06-19 2025-06-18   955/215/2023
8   Venkman    Peter          1009  2023-06-19 2025-06-18   955/215/2023
9      Vega  Vincent          1010  2023-06-20 2025-06-18   955/233/2023

                                 Bezeichnung Straße/Hausnummer    PLZ     Ort
0         Fachinformatiker Systemintegration         Strasse 1  12001  Berlin
1         Fachinformatiker Systemintegration         Strasse 2  12002  Berlin
2     Fachinformatiker Anwendungsentwicklung         Strasse 3  12003  Berlin
3     Fachinformatiker Anwendungsentwicklung         Strasse 4  12004  Berlin
4     Fachinformatiker Anwendungsentwicklung         Strasse 5  12005  Berlin
5     Fachinformatiker Anwendungsentwicklung         Strasse 6  12006  Berlin
6     Fachinformatiker Anwendungsentwicklung         Strasse 7  12007  Berlin
7         Fachinformatiker Systemintegration         Strasse 8  12008  Berlin
8         Fachinformatiker Systemintegration         Strasse 9  12009  Berlin
9  Fachinformatiker Daten und Prozessanalyse        Strasse 10  12010  Berlin

In [8]:
print(type(dfexcel["teilnehmerdaten"]))

<class 'pandas.core.frame.DataFrame'>

In [18]:
tbl = dfexcel["teilnehmerdaten"]

In [19]:
for i in range(len(tbl)):
    print(tbl.loc[i,"Name"]),

Parker
Ayuhara
Simpson
Stark
Cohle
Corleone
Connor
Ketchum
Venkman
Vega

Given Dataframe :
         Name  Age    Stream  Percentage
0      Ankit   21      Math          88
1       Amit   19  Commerce          92
2  Aishwarya   20      Arts          95
3   Priyanka   18   Biology          70
<class 'pandas.core.frame.DataFrame'>

Iterating over rows using index attribute :

Ankit Math
Amit Commerce
Aishwarya Arts
Priyanka Biology

In [25]:
import mysql.connector

db = mysql.connector.connect(
    host='localhost',
    user='root',
    password='',
    database='teilnehmerexcel'
)

In [26]:
mycursor = db.cursor()

sql = """INSERT INTO teilnehmer( fname, lname, v_start, v_end, m_nr, fach, addre) 
values (%s, %s,%s, %s,%s, %s,%s)"""
val = ('tim','timson','23.11.2020','25.12.2024','123','dbler','strasse 11')

mycursor.execute(sql,val)

db.commit()